body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #3b9cf7;
  text-align: center;
  padding: 1rem;
}

footer h3,li,.uk-text-emphasis {
  color: white !important;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b9cf7;
  color: #fff;

  padding: 2rem;
  margin-bottom: 3rem;
  margin-top: -20px;
}

.counter h1 {
  color: white;
}

#iconbar {
  justify-content: center;
}

#footerlogo {
  color: white;
}